# Hedera Operator
HEDERA_ACCOUNT_ID=0.0.XXXXX
DEPLOYER_PRIVATE_KEY=0x...
HEDERA_JSON_RPC=https://testnet.hashio.io/api
HEDERA_MIRROR_NODE=https://testnet.mirrornode.hedera.com

# Event Logger
TOKEN_ADDRESS=0x...
AUDIT_TOPIC_ID=0.0.XXXXX
