# Guardian operator (ED25519) — created by create-operator.ts
GUARDIAN_OPERATOR_ID=""
GUARDIAN_OPERATOR_KEY=""

# Guardian API
GUARDIAN_API_URL="http://195.201.8.147:3100"

# Populated by guardian-setup.ts
GUARDIAN_POLICY_ID=
GUARDIAN_SR_USERNAME=
GUARDIAN_SR_PASSWORD=
GUARDIAN_ISSUER_USERNAME=
GUARDIAN_ISSUER_PASSWORD=
GUARDIAN_VVB_USERNAME=
GUARDIAN_VVB_PASSWORD=

# Telemetry opt-out
DO_NOT_TRACK=1
